/* src/app/containers/Board/board.scss */

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.appbar {

}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
